{% extends 'layouts/master.html.twig' %}

{% block titulo %} Animales {% endblock %}

{% block cabecera %}
  {{parent()}}

  <h1>Animales</h1>
{% endblock %}

{% block contenido %}
  {#
  <h1>{{ title }}</h1>
  <h2>Tu nombre es: {{ nombre }}</h2>
  <h3>Tus apellidos son: {{ apellidos }}</h3>
  #}
{% endblock %}